* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #d3d3d3;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #3d3838;
    padding: 0;
    margin: 0;
}
h2,
h1 {
    margin-top: 2rem;
    font-family: Dancing script;
}
a.nav-links:hover {
    transition: all 0.3s ease-in-out;
    color: white;
}
header {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo-name {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #c0c0c5;
}

a#brand-logo {
    font-size: 40px;
    font-family: Dancing Script;
    font-weight: bolder;
}

nav {
    display: flex;
}

ul#nav-items {
    display: flex;
    list-style-type: none;
}

li.nav-list {
    font-weight: 600;
    padding: 15px;
    font-size: larger;
}

/* Responsive Styles */
@media only screen and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .logo-name {
        text-align: center;
        margin-bottom: 10px;
    }

    a#brand-logo {
        font-size: 30px;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 100%;
        position: absolute;
        top: 60px; /* Adjust as needed based on your header height */
    }
    li.nav-list {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
    }
}
/* hero section starts */
.hero-section {
    width: 100%;
    position: relative;
    height: 400px;
    background: url('opening.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero-text {
    z-index: 1;
}
.line-left,
.line-right{
    background-color: #fff;
    height: 2px;
    width: 100%;
    margin-block: -10px;
}
.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 1em;
    margin: 0;
}
/* hero section end */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#our-chefs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    position: relative;
    width: 100%;
    /* Adjusted width for responsiveness */
    overflow: hidden;
    margin: 10px;
    box-sizing: border-box;
}

.chefs-img {
    width: 300px;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}
h2#chefs-h {
    font-size: 4rem;
}
.info {
    position: absolute;
    top: 60%;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease-in-out;
}

.container:hover .chefs-img {
    transform: translateX(-10%);
}

.container:hover .info {
    right: 0;
}

.about-section {
    background-color: #000000;
    /* Section background color */
    color: #fff;
    /* Text color for the section */
    padding: 50px;
    text-align: center;
}

.about-container {
    border-radius: 20px;
    background-color: #000000;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* Stack items vertically on smaller screens */
    justify-content: space-around;
    align-items: center;
    color: #333;
}

.about-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.about-image {
    flex: 1;
    margin-top: 20px;
    border-radius: 10px;
    max-width: 70%;
}

/* Media query for smaller screens */
@media screen and (min-width: 768px) {
    .container {
        width: calc(33.33% - 20px);
        /* Adjusted width for a third of the screen with margin */
    }

    .about-container {
        flex-direction: row;
        /* Display items side by side on larger screens */
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }

    .about-content {
        flex: 1;
        padding-right: 20px;
        text-align: left;
    }

    .about-image {
        flex: 1;
        margin-top: 0;
    }
}
/* Location Section */
section.location-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.location-content {
    max-width: 600px;
}

.location-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.location-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.map-container {
    max-width: 600px;
    overflow: hidden;
    border-radius: 8px;
}

iframe.map {
    width: 600px;
    min-height: 400px;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
}

.social-icon,
.fa-brands {
margin-right: 10px;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover,
.fa-brands:hover    {
    color: #FF4500; /* Change the color on hover */
}
footer {
    background-color: #333;
    height: 3rem;
    margin-top: 1rem;
    padding: 0;
    display: flex;
    align-items: center;
}